@font-face {
    font-family: "Wix Madefor Display";
    src: local("Wix Madefor Display Regular"),
    url("../fonts/WixMadeforDisplay-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Wix Madefor Display";
    src: local("Wix Madefor Display Medium"),
    url("../fonts/WixMadeforDisplay-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Wix Madefor Display";
    src: local("Wix Madefor Display SemiBold"),
    url("../fonts/WixMadeforDisplay-SemiBold.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Wix Madefor Display";
    src: local("Wix Madefor Display Bold"),
    url("../fonts/WixMadeforDisplay-Bold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Wix Madefor Display";
    src: local("Wix Madefor Display ExtraBold"),
    url("../fonts/WixMadeforDisplay-ExtraBold.ttf") format("ttf");
    font-weight: 800;
}


* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */
a {
    color: inherit;
}

a, a:link, a:visited {
    text-decoration: none;
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
}

button {
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

legend {
    display: block;
}

img, svg {
    max-width: 100%;
    height: auto;
}

body {
    position: relative;
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: #FFFFFF;
    line-height: 1;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #15171B;
    z-index: -1;
    transition: .3s;
}

.blackout {
    z-index: 1;
    opacity: 0.4;
}

.h1-t {
    font-size: 44px;
    font-weight: 600;
    line-height: normal;
}

.h2-t {
    font-size: 38px;
    font-weight: 600;
    line-height: normal;
}

.h3-t {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

.h4-t {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.subtitle {
    font-size: 22px;
    font-weight: 500;
}

.b-txt {
    color: #3A3C40;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
}

.b-txt p:not(:last-child) {
    margin: 0 0 24px 0;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #337AE0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.btn-scroll-up {
    background: #FFAB2B;
    color: #15171B;
}

.s-btn {
    padding: 13px 30px;
}

.m-btn {
    padding: 16px 30px;
}

.l-btn {
    padding: 19px 30px;
}

.btn-about {
    position: relative;
    display: flex;
    padding: 15px 14px 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 166px;
    width: 100%;
    border-radius: 100px;
    background: #FFF;
    color: #337AE0;
    font-size: 16px;
    font-weight: 500;
}

.btn-about::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 14px;
    background-image: url("../img/icons/arrow-right-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #337AE0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/*=============HEADER=============*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 105px;
    z-index: 2;
    background-color: #FFFFFF;
    padding: 28px 80px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: relative;
}

.header__logo {

}

.header__logo-scroll {
    display: none;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-links {
    display: flex;

}

.header__nav-link {
    /*position: relative;*/
}

.nav__link {
    position: relative;
    display: block;
    padding: 16px 15px;
    color: #3A3C40;
    font-size: 18px;
    font-style: normal;
    transition: all 0.2s;
    font-weight: 400;
}

.header__nav-link .nav__link:hover,
.submenu__link a:hover {
    color: #337AE0;
}

.submenu__link a:hover {
    border-radius: 8px;
    background: #F5F5F5;
}

.menu-arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/arrow-down.svg");
    background-repeat: no-repeat;
    transition: background-image 0.2s;
}

.open-menu .menu-arrow {
    background-image: url("../img/icons/arrow-down-hover.svg");
}

.header__submenu {
    position: absolute;
    /*top: 105px;*/
    /*margin: 105px 0 0 0;*/
    margin: 0 0 0 -15px;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
    max-height: 320px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
    background-color: #FFFFFF;
    border-radius: 0 0 16px 16px;
    backdrop-filter: blur(10px);
}

.submenu__link {
    color: #3A3C40;
    font-size: 18px;
}

.submenu__link a {
    position: relative;
    display: block;
    padding: 16px 10px 16px 30px;
}

.submenu__link a::before {
    content: '';
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 14px;
    width: 6px;
    height: 6px;
    background-color: #337AE0;
    border-radius: 50%;
}

.submenu__link a:hover {
}

.header__nav-search {
    padding: 7px;
}

.header__nav-search img {
    min-width: 22px;
    height: 22px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 46px;

}

.header__right-phone {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.header__phone {
    color: #15171B;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.header__phone-span {
    color: #3A3C40;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
}

.online-write-btn {

}

/*============/HEADER=============*/
.container {
    margin: 0 auto;
    max-width: 1430px;
    width: 100%;
    padding: 0 15px;
}

.main {
    margin: 105px 0 0 0;
}

/*===============MAIN=============*/
.section__main {

}

.main__title {
    color: #164D9D;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 60px 0;
}

.main-text {
    color: #164D9D;
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    font-size: 26px;
    font-weight: 600;
    max-width: 560px;
}

.get-consultation {
    cursor: pointer;
}

/*==============/MAIN=============*/

/*==============SERVICES==============*/

.services {
    padding: 140px 0;
}

.services__title {
    color: #15171B;
    font-size: 38px;
    font-weight: 600;
    max-width: 710px;
    margin: 0 0 50px 0;
}

.services__types {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 0 40px 0;
}

.service__type {
    position: relative;
    flex: 1 1 48%;
    border-radius: 16px;
}

.service__type-inner {
    position: relative;
    height: 272px;
    border-radius: 16px;
    overflow: hidden;
}

.service__type:nth-child(1) {
    background-color: #D5EFFA;
}

.service__type:nth-child(2) {
    background-color: #FFEBC3;
}

.service__type:nth-child(3) {
    background-color: #D0F1DD;
}

.service__type:nth-child(4) {
    background-color: #E1EBFB;
}

.service__type:nth-child(5) {
    background-color: #EEE6FB;
}

.service__type:nth-child(6) {
    background-color: #FFE2D2;
}

.service__type:nth-child(7) {
    background-color: #FFEBC3;
}

.service__type:nth-child(8) {
    background-color: #D5EFFA;
}

.service__type-body {
    position: relative;
    padding: 40px 35px;
    z-index: 1;
}

.service__type-name {
    color: #15171B;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.service__type-about {
    margin: 0 0 34px 0;
    max-width: 400px;
}

.service__type-bottom {
    display: flex;
    align-items: center;
    gap: 36px;
}

.service__type-link {

}

.service__type-link a {

}

.service__type-price {
    color: #3A3C40;
    font-size: 16px;
    font-weight: 600;
}

.service__type-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.service__type-bg img {
    width: 100%;
}

.service__type-top {
    position: absolute;
    top: -12px;
    left: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.service__type-what {
    padding: 8px 14px;
    border-radius: 100px;
    border: 1px solid #CFD3DA;
    background: #FFF;
    color: #3A3C40;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.service__type-sale {
    padding: 8px 14px;
    border-radius: 100px;
    background: #E84848;
    color: #FFF;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.services_btn {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 284px;
}

/*==============/SERVICES==============*/

/*=================STOCKS==============*/
.stocks {
    position: relative;
    overflow: hidden;
    background-color: #242424;
    padding: 120px 0 170px 0;
}

.stocks__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    margin: 0 0 50px 0;
}

.stocks__title {
    color: #fff;
    max-width: 520px;
}

.stocks__show-all {
    position: relative;
    display: block;
    color: #FFF;
    font-size: 16px;
    padding: 0 19px 0 0;
}

.stocks__show-all::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    width: 13px;
    height: 13px;
    background-image: url("../img/icons/arrow-right.svg");
}

.stocks__slider {
    position: relative;
    height: 540px;
}

.universal-slider .swiper-scrollbar {
    display: none;
}

.slider__footer {
    margin: 47px 0 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.slider__footer .swiper-pagination {
    max-width: 92% !important;
}

.universal-slider .swiper-pagination-progressbar.swiper-pagination-horizontal {
    height: 1px;
}

.universal-slider .swiper-pagination-progressbar {
    background: #4b4b4b;
}

.universal-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #FFAB2B;

}

.universal-slider .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.universal-slider .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none;
}

.universal-slider .swiper-button-prev,
.universal-slider .swiper-button-next {
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
}

.universal-slider .swiper-button-prev {
    background-image: url("../img/icons/slider-left-arrow.svg");
}

.universal-slider .swiper-button-next {
    background-image: url("../img/icons/slider-right-arrow.svg");
}

.slider__arrows {
    width: 110px;
    position: relative;
}

/*================/STOCKS==============*/

/*================DOCTORS==============*/

.doctors {
    position: relative;
    overflow: hidden;
    padding: 120px 0 170px 0;
}

.doctors__header {

}

.doctors__title {
    max-width: 720px;
    margin: 0 0 90px 0;
}

.doctors__slider {
    position: relative;
    height: 390px;
}

.doctor__slide {
    border-radius: 16px;
    background: #F5F5F5;
    padding: 30px 10px 30px 30px;
    width: 453px;
}

.doctor__slide-inner {

}

.doctor__header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.doctor__photo {
    border-radius: 16px;
    overflow: hidden;
    margin: -70px 0 30px 0;
}

.doctor__photo img {

}

.doctor__advantages {

}

.doctor__experience {
    border-radius: 100px;
    background: #FFF;
    padding: 4px 12px;
    line-height: 1.4;
    font-size: 16px;
    margin: 0 0 33px 0;
}

.doctor__awards {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.doctor__awards li {
    position: relative;
    padding: 0 0 0 14px;
}

.doctor__awards li:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 6px;
    height: 6px;
    background-color: #FFAB2B;
    border-radius: 50%;
}

.doctor__awards li:not(:last-child) {
    margin: 0 0 10px 0;
}

.doctor__info {

}

.doctor__name {
    color: #15171B;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 260px;
    margin: 0 0 14px 0;
    height: 45px;
}

.doctor__position {
    font-size: 16px;
}

.universal-slider .black-arrows .swiper-button-prev {
    background-image: url("../img/icons/slider-left-arrow-black.svg") !important;
}

.universal-slider .black-arrows .swiper-button-next {
    background-image: url("../img/icons/slider-right-arrow-black.svg") !important;
}

/*================/DOCTORS==============*/